DEBUG=False

PROJECT_NAME=movies

LOGGING_LEVEL=INFO
LOG_FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(message)s

ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200

ETL_REPEAT_INTERVAL_TIME_SEC=60
ETL_BATCH_SIZE=100

KAFKA_HOST=broker
KAFKA_PORT=29092
CLICKHOUSE_HOST=clickhouse-node1
CLICKHOUSE_ALT_HOSTS=clickhouse-node2, clickhouse-node3, clickhouse-node4
KAFKA_TOPICS=movies_views
KAFKA_EXTRACT_NUM_MESSAGES=200
KAFKA_EXTRACT_TIMEOUT=10
KAFKA_GROUP_ID=app
KAFKA_AUTO_OFFSET_RESET=smallest
