AUTH_DB_HOST=test-db-auth
AUTH_DB_PORT=5432
AUTH_DB_NAME=auth_database
AUTH_DB_USER=admin
AUTH_DB_PASSWORD=admin

AUTH_REDIS_HOST=test-redis-auth
AUTH_REDIS_PORT=6379

JWT_COOKIE_SECURE=False
JWT_TOKEN_LOCATION=headers, cookies
JWT_SECRET_KEY=SUPER-SECRET-KEY
JWT_ACCESS_TOKEN_EXPIRES=1
JWT_REFRESH_TOKEN_EXPIRES=720

INITIAL_USER_ROLES=default, prime
INITIAL_USER_DESCRIPTION_ROLES=Base rights for a registered user, User rights with subscription 
DEFAULT_USER_ROLE=default

ENABLE_TRACER=False

LOGGING_LEVEL=INFO
LOG_FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(message)s

REQUEST_LIMIT_PER_MINUTE=40