AUTH_DB_HOST=test-db-auth
AUTH_DB_PORT=5432
AUTH_DB_NAME=auth_database
AUTH_DB_USER=admin
AUTH_DB_PASSWORD=admin
AUTH_DB_TABLES=users, user_actions_history

AUTH_REDIS_HOST=test-redis-auth
AUTH_REDIS_PORT=6379

AUTH_API_HOST=api-auth
AUTH_API_PORT=8000
AUTH_API_URI=/api/v1
AUTH_API_PROTOCOL=http

ENABLE_TRACER=False
